@model IEnumerable<Materials_storage_subsystem.Models.ExpenseSheet>

@{
    ViewData["Title"] = "ExpenseSheetList";
    Layout = "_LayoutWarehouseManager";
}

<h1>ExpenseSheetList</h1>

<p>
    <a asp-action="ExpenseSheetCreate">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                Warehouse
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WarehouseId)
            </td>
            <td>
                <a asp-action="ExpenseSheetEdit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="ExpenseSheetPage" asp-route-id="@item.Id">Details</a>
            </td>
        </tr>
}
    </tbody>
</table>
